<h1>
  From Heex
</h1>

<h2 :if={!@product}>
  Product is not available.
</h2>
 <.product :if={@product} product={@product} />
<p>Id : {@product.id}</p>

<p>Name : {@product.name}</p>
 <a href={~p"/product"}>All Products</a>
